.gnome{
  width: 80%;
  margin: auto;
  padding: 10px;
  list-style-type: none;
}

.gnome--container{
  float: left;
  width: 70%;
}

.gnome--progress{
  width: 15%;
  float: left;
}

.gnome--name{
  font-weight: bold;
  font-size: 15px;
  color: #000000;
}

.gnome--age{
  font-size: 12px;
}
.gnome--strenght{
  margin-left: 85%;
  font-size: 15px;
  text-align: right;
}
