.gnome{
  width: 80%;
  font-weight: bold;
  font-size: 20px;
  padding-top: 40px;
}

.gnome-container{
  float: left;
  width: 70%;
}

.gnome-progress{
  width: 15%;
  float: left;
  font-weight: normal;
  font-size: 10px;
}

.gnome-name{
  font-weight: bold;
  font-size: 15px;
  color: #000000;
}

.gnome-age{
  font-size: 12px;
  font-weight: normal;
}
.gnome-strenght{
  margin-left: 85%;
  font-size: 15px;
  text-align: right;
  font-weight: normal;
}

.list-group-item{
  height: 60px;
}

.progress{
  height: 10px;
}

.progress-bar{
  background-color: #9f0068;
  height: 10px;
}
