.header{
  width: 80%;
  background-color: #FFFFFF;
  height: 60px;
}

.header-elements{
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  color: #000000;
}

.header-profile{
  font-weight: normal;
  font-size: 15px;
}

.header-profile-avatar{
  width: 25%;
  float: left;
}

.header-profile-name{
  margin-left: 25%;
  color: #000000;
}
